[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = false
	action = rebase always
[access "refs/*"]
	owner = group user/seojineer
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/seojineer
	label-Verified = -1..+1 group user/seojineer
	push = group user/seojineer
	read = group user/seojineer
	rebase = group user/seojineer
	removeReviewer = group user/seojineer
	submit = group user/seojineer
[access "refs/heads/*"]
	create = group user/seojineer
	push = +force group user/seojineer
	pushMerge = group user/seojineer
	read = group user/seojineer
[access "refs/tags/*"]
	push = group user/seojineer
	push = +force group user/seojineer
[receive]
	requireSignedOffBy = true
	requireChangeId = true
